.right {
  width: 23%;
  height: 97%;
}

.right-main-div-bottom {
  margin-top: 1%;
  width: 100%;
  height: 97.5%;
  background-color: white;
}

.right-main-div-top {
  text-align: center;
  width: 101%;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-column-gap: 1%;
}

.right-main-div-top span {
  display: inline-block;
  height: 100%;
  line-height: 200%;
  text-align: center;
  background: rgb(236, 245, 255);
  border: 1px solid #cfc;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.el-collapse-item__header {
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 48px;
  background-color: rgb(248, 248, 248) !important;
  color: #303133;
  cursor: pointer;
  border-bottom: 1px solid #EBEEF5;
  font-size: 14px !important;
  font-weight: bold !important;
  transition: border-bottom-color .3s;
  outline: 0;
  padding-left: 15px !important;
}

.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  margin: 10px 0px 0px 10px !important;
}

.el-radio {
  color: #606266;
  cursor: pointer;
  margin: 2px !important;
}

.el-collapse-item__wrap {
  will-change: height;
  background-color: #FFF;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #EBEEF5;
  padding: 10px 0px 0px 10px !important;
}

.el-collapse-item__content {
  padding-bottom: 20px !important;
  font-size: 13px;
  color: #303133;
  line-height: 1.769230769230769;
}

.el-radio__inner {
  border: 1px solid #DCDFE6;
  border-radius: 100%;
  width: 10px !important;
  height: 10px !important;
  background-color: #FFF;
  cursor: pointer;
  box-sizing: border-box;
}

.el-radio, .el-radio__inner, .el-radio__input {
  position: unset !important;
  display: inline-block !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 85% !important;
}

.bottomButton-radio {
  margin: 10px 0px 0px 10px;
}